.s1 {
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 90%, rgba(235,235,235,0.7) 10%);
    height: 70px;
    opacity: 0.5;
    width:2px;
}



.s1s {
    background: rgba(235,235,235,0.7);
    height: 80px;
    opacity: 0.5;
}

.s2 {
    background: rgba(235,235,235,0.7);
    height: 120px;
    opacity: 0.5;
}

.2s {
    background: rgba(235,235,235,0.7);
    height: 80px;
    opacity: 0.5;
    width: 3px;
}

.s2ss {
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 40%, rgba(235,235,235,0.7) 60%);
    height: 100px;
    opacity: 0.5;
    width: 2px;
}

.s3 {
    background: rgba(235,235,235,0.7);
    height: 65px;
    opacity: 0.5;
}

.s3s {
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 35%, rgba(235,235,235,0.7) 65%);
    height: 100px;
    opacity: 0.5;
    width: 2px;
}

.s4 {
    background: rgba(0,123,255,0.7);
    height: 70px;
    opacity: 0.5;
    width: 2px;
}

.s4s {
    background: rgba(235,235,235,0.7);
    box-shadow: 0 4px 15px rgba(0,123,255,0.7);
    height: 40px;
    opacity: 0.5;
    width: 4px;
}

.s5 {
    background: rgba(0,123,255,0.7);
    height: 36px;
    opacity: 0.5;
}

.s6 {
    background: linear-gradient(to top, rgba(235,235,235,0.7) 55%, rgba(0,123,255,0.7) 45%);
    opacity: 0.5;
}

.s7 {
    background: rgba(235,235,235,0.7);
    height: 39px;
    opacity: 0.5;
    width: 3px;
}

.s7s {
    background: rgba(235,235,235,0.7);
    opacity: 0.5;
}

.s7ss {
    background: linear-gradient(to bottom, rgba(0,123,255,0.7) 55%, rgba(235,235,235,0.7) 45%);
    opacity: 0.5;
}

.s8 {
    background: rgba(235,235,235,0.7);
    height: 35px;
    opacity: 0.5;
    width: 3px;
}

.s9 {
    background: rgba(235,235,235,0.7);
    height: 65px;
    opacity: 0.5;
    width: 3px;
}

.s10 {
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 70%, rgba(235,235,235,0.7) 30%);
    height: 120px;
    opacity: 0.5;
    width: 2px;
}

.s11 {
    background: rgba(235,235,235,0.7);
    height: 39px;
    opacity: 0.5;
    width: 3px;
}

.s12 {
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 70%, rgba(0,123,255,0.7) 30%);
    height: 120px;
    opacity: 0.5;
    width: 2px;
}

.s13 {
    background: rgba(235,235,235,0.7);
    height: 43px;
    opacity: 0.5;
    width: 3px;
}

.s13s {
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 90%, rgba(235,235,235,0.7) 10%);
    height: 53px;
    opacity: 0.5;
    width: 2px;
}

.s14 {
    background: rgba(235,235,235,0.7);
    height: 53px;
    opacity: 0.5;
    width: 3px;
}

.s14s {
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 95%, rgba(0,123,255,0.7) 5%);
    height: 63px;
    opacity: 0.5;
    width: 2px;
}

.s15 {
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 70%, rgba(235,235,235,0.7) 30%);
    height: 66px;
    opacity: 0.5;
    width: 2px;
}

.s16 {
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 65%, rgba(0,123,255,0.7) 35%);
    height: 100px;
    opacity: 0.5;
    width: 2px;
}

.s16s {
    background: linear-gradient(to top, rgba(235,235,235,0.7) 25%, rgba(0,0,0,0.7) 75%);
    opacity: 0.5;
}

.s17 {
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 70%, rgba(0,123,255,0.7) 30%);
    height: 110px;
    opacity: 0.5;
    width: 2px;
}

.s18 {
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 65%, rgba(235,235,235,0.7) 35%);
    height: 55px;
    opacity: 0.5;
    width: 2px;
}

.s18s0 {
   background: rgba(0,242,255,0.7);
    height: 110px;
    opacity: 0.5;
    width: 2px;
}

.s18s1 {
    background: rgba(0,242,255,0.7);
    height: 65px;
    opacity: 0.5;
    width: 5px;
}

.s18s2 {
    background: rgba(0,123,255,0.7);
    height: 85px;
    opacity: 0.5;
    width: 3.5px;
}

.s18s3 {
    background: rgba(0,123,255,0.7);
    height: 60px;
    opacity: 0.5;
    width: 5px;
}

.s18s4 {
    background: rgba(0,242,255,0.7);
    height: 35px;
    opacity: 0.5;
    width: 5px;
}

.s18s5 {
    background: rgba(0,123,255,0.7);
    height: 80px;
    opacity: 0.5;
    width: 5px;
}

.s18s6 {
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 35%, rgba(235,235,235,0.7) 65%);
    height: 85px;
    opacity: 0.5;
    width: 2px;
}


.s19 {
    background: rgba(235,235,235,0.7);
    height: 53px;
    opacity: 0.5;
    width: 3px;
}

.s19s {
    background: rgba(235,235,235,0.7);
    height: 66px;
    opacity: 0.5;
    width: 1px;
}

.s20 {
    background: rgba(235,235,235,0.7);
    height: 56px;
    opacity: 0.5;
    width: 3px;
}

.s21 {
    background: rgba(235,235,235,0.7);
    height: 49px;
    opacity: 0.5;
    width: 3px;
}



.s21s {
    background: linear-gradient(to top, rgba(0,123,255,0.7) 60%, rgba(235,235,235,0.7) 40%);
    opacity: 0.5;
}

.s21ss {
    background: linear-gradient(to top, rgba(0,123,255,0.7) 25%, rgba(235,235,235,0.7) 75%);
    opacity: 0.5;
}


.s22 {
    background: linear-gradient(to top, rgba(0,0,0,0.7) 10%, rgba(0,0,0,0.7) 29%, rgba(0,123,255,0.7) 1%, rgba(0,0,0,0.7) 60%);
    opacity: 0.5;
}

.s23 {
    background: rgba(235,235,235,0.7);
    height: 70px;
    opacity: 0.5;
    width: 2px;
}

.s23s {
    background: linear-gradient(to top, rgba(235,235,235,0.7) 0.5%, rgba(0,0,0,0.7) 40.5%, rgba(0,0,0,0.7) 60%);
    opacity: 0.5;
}

.s24 {
    background: rgba(0,123,255,0.7);
    height: 46px;
    opacity: 0.5;
    width: 3px;
}

.s25 {
    background: linear-gradient(to top, rgba(235,235,235,0.7) 40%, rgba(0,0,0,0.7) 30%, rgba(235,235,235,0.7) 30%);
    opacity: 0.5;
}

.s26 {
    background: linear-gradient(to top, rgba(0,123,255,0.7) 40%, rgba(0,0,0,0.7) 60%);
    opacity: 0.5;
}

.s27 {
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 85%, rgba(235,235,235,0.7) 15%);
    height: 100px;
    opacity: 0.5;
    width: 2px;
}

.s28 {
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 48%, rgba(0,123,255,0.7) 52%);
    height: 100px;
    opacity: 0.5;
    width: 3.5px;
}

.s29 {
    background: rgba(235,235,235,0.7);
    height: 46px;
    opacity: 0.5;
    width: 3px;
}

.s30 {
    background: rgba(235,235,235,0.7);
    opacity: 0.5;
}

.s31 {
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 60%, rgba(235,235,235,0.7) 30%);
    height: 70px;
    opacity: 0.5;
    width: 2px;
}


.light{
background:green;
}
