body {
      margin: 0;
      padding: 0;
      background: black;
      height:100vh;
      overflow: hidden;
       width:100%;
    }

    .explosion {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 200px;
      height: 200px;
      background: radial-gradient(circle, #ebebeb55, #007bff55, #00000055);
      border-radius: 50%;
      transform: translate(-50%, -50%) scale(0.0);
      animation: explode 1.4s ease-out forwards;
      animation-delay: 1s;
      box-shadow: 0 0 60px 40px rgba(0, 195, 255, 0.5);
      z-index: 2;
    }

    @keyframes explode {
      0% {
        transform: translate(-50%, -50%) scale(0.0);
        opacity: 1;
      }
      100% {
        transform: translate(-50%, -50%) scale(2.5);
        opacity: 0;
      }
    }
 

    .stripes {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
      z-index: 1;
    }

    .stripe {
      position: absolute;
      width: 1.9px;
      height: 100px;

      border-radius: 500px;
      transform-origin: 0% 0%;
      opacity: 0.8;
      animation: beamSpread 1.4s ease-out forwards;
      animation-delay: 1.11s;
    }

.s1{
    background: linear-gradient(to 
top, #00000055 20%, #ebebeb55 80%);
}

.s2{
background:#ebebeb55;
}

.s3{
    background: linear-gradient(to 
top, #ebebeb55 5%,  #00000055 55%, #007bff55 40% );
}

.s4, .s9{
    background: linear-gradient(to 
top, #00000055 20%, #ebebeb55 80%);
}

.s5{
    background: #007bff55;
}

.s6{
    background: linear-gradient(to 
top, #ebebeb55 55%, #007bff55 45%);
}

.s7{
    background: linear-gradient(to 
top, #00000055 55%, #ebebeb55 45%);
}

.s7s{
    background: #ebebeb55 ;
}

.s7ss{
    background: linear-gradient(to 
bottom, #007bff55 55%, #ebebeb55 45%);
}

.s8{
    background: linear-gradient(to 
top, #00000055 60%, #ebebeb55 40%);
}

.s10{
    background: linear-gradient(to 
top, #ebebeb55 55%, #00000055 45%);
}

.s11{
    background: linear-gradient(to 
top, #00000055 52%, #ebebeb55 48%);
}

 .s12{
  background: linear-gradient(to 
top, #007bff55 10%,  #00000055 65%, #007bff55 25% );
}

.s13{
    background: linear-gradient(to 
top, #ebebeb55 20%, #00000055 55%, #ebebeb55 25%);
}

.s14{
    background: linear-gradient(to 
bottom, #ebebeb55 85%, #00000055 10%,  #007bff55 5%);
}

.s15{
    background: linear-gradient(to 
top, #ebebeb55 50%, #00000055 50%);
}

.s16{
    background: linear-gradient(to 
top, #007bff55 25%, #00000055 75%);
      transform: translate(var(--angle)) scaleY(10);
}

.s16s{
    background: linear-gradient(to 
top, #ebebeb55 25%, #00000055 75%);
}

.s17{
    background: linear-gradient(to 
top, #ebebeb55 50%, #000 10%, #00000055 40%);
}

.s18{
    background: linear-gradient(to 
top, #00000055 30%, #ebebeb55 60%, #000 10%);
}

.s19{
    background: linear-gradient(to 
top, #00000055 10%, #ebebeb55 90%);
}

.s20{
    background: linear-gradient(to 
top, #00000055 30%, #ebebeb55 70%);
}

.s21{
    background: linear-gradient(to 
top, #00000055 40%, #ebebeb55 60%);
}

.s21s{
    background: linear-gradient(to 
top, #007bff55 40%, #ebebeb55 60%);
}

.s21ss{
       background: linear-gradient(to 
top, #007bff55 25%, #ebebeb55 75%);
}

.s22{
    background: linear-gradient(to 
top, #00000055 10%, #00000055 29%, #007bff55 1%, #00000055 60%);
}

.s23{
    background: linear-gradient(to 
top,  #ebebeb55 0.5%, #00000055 40.5%, #00000055 60%);
}

.s23s{
    background: linear-gradient(to 
top,  #ebebeb55 0.5%, #00000055 40.5%, #00000055 60%);
}

.s24{
    background: linear-gradient(to 
bottom, #007bff55 40%, #00000055 60%);
}

.s25{
    background: linear-gradient(to 
top, #ebebeb55 40%, #00000055 30%, #ebebeb55 30%);
}

.s26{
    background: linear-gradient(to 
top, #007bff55 40%, #00000055 60%);
}

.s27{
    background: linear-gradient(to 
top, #ebebeb55 1%, #00000055 49%,#00000055 10%, #000 40%);
}

.s28{
    background: linear-gradient(to 
top, #007bff55 1%, #000 49%,#00000055 10%, #000 40%);
}

.s29{
    background: #ebebeb55;
}

.s30{
    background: #ebebeb55 ;
}

.big{
width:3.5px;
}

.bigg{
width:9px;
}

.neon{
box-shadow:0 4px 15px 8px #007bff55;
}

.short{
height:40px;
}

.box{
background:#007bff55;
height:120px;
}

    @keyframes beamSpread {
      0% {
        transform: rotate(var(--angle)) scaleY(0.2);
        opacity: 1;
      }
      100% {
        transform: rotate(var(--angle)) scaleY(5);
        opacity: 1;
      }
    }

.center-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: auto;
  opacity: 0;
  animation: showImage 1.4s ease-out forwards;
  animation-delay: 1.4s;
  z-index: 100;
    box-shadow: 0px 4px 15px #007bff;
border-radius:5px;

}

    @keyframes showImage {
      0% {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 0;
      }
      100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
      }
    }